{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <div class="container-img-account">
        {% if user.pictureName %}
            <img src="{{ asset("img-users/" ~ user.pictureName) }}" alt="image utilisateur" class="img-account">
        {% else %}
            <img src="{{ asset("img-users/default.jpg") }}" alt="image utilisateur" class="img-account">
        {% endif %}
    </div>
    <p class="text-center marginb-50"><a href="{{ path('app_forgot_password_request') }}">Changer mon mot de passe !</a></p>
    <div class="paddingb-100">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Changer d'image" class="button-blue marginb-30">
        {{ form_end(form) }}
    </div>
{% endblock %}