{% extends 'base.html.twig' %}

{% block title %}Nouvelle figure{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle figure</h1>
    <section>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <div id="picture-fields-list"
                data-prototype="{{ form_widget(form.picture.vars.prototype)|e }}"
                data-widget-tags="{{ '<p></p>'|e }}"
                data-widget-counter="2">

                {{ form_row(form.picture) }}
                <div id="trick_picture_1">
                    <div>
                        <label for="trick_picture_1_picturefile" class="required">Image obligatoire</label>
                        <input type="file" id="trick_picture_1_picturefile" name="trick[picture][1][picturefile]" required>
                    </div>
                </div>

            </div>

            <button type="button" class="add-another-collection-widget margin-y30" data-list-selector="#picture-fields-list">
                Ajouter une photo
            </button>
            
            {{ form_row(form.tagsVideo) }}
            {{ form_row(form.relatedGroup) }}
            <input type="submit" value="Ajouter !">
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/jquery/add-collection-widget.js"></script>
{% endblock %}