{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header id="header" class="homepage">
        <h1>Accueil - SnowTricks</h1>
        <a id="arrow_down" class="arrow" href="#tricks"><img src="/img/arrow_down.png" alt="descendre"></a>
    </header>
    <section id="tricks" class="flexbox">
        {% for trick in tricks %}
            <article>
                {% set picture = trick.pictures.first() %}
                <div>
                    <img src="{{ asset("img-tricks/" ~ picture.name) }}" alt="image d'une figure" class="img_trick">
                </div>
                <div>
                    <p><a href="{{ path('app_trick_show', {slug: trick.slug}) }}">{{ trick.name }}</a></p>
                    <a href="{{ path('app_trick_update', {slug: trick.slug}) }}"><img src="/img/modify.png" alt="Modifier" class="icon"></a>
                    <form action="{{ path('app_trick_delete', {id: trick.id}) }}" method="post" class="buttonlink">
                        <input type="hidden" value="{{ csrf_token('trick_delete_' ~ trick.id) }}" name="csrf_token">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" onclick="return confirm('Voulez-vous vraiment effacer ce trick ?')">
                            <img src="/img/delete.png" alt="Supprimer" class="icon">
                        </button>
                    </form>
                    {#<a href="{{ path('app_trick_delete', {id: trick.id}) }}" onclick="return confirm('Voulez-vous vraiment effacer ce trick ?')">
                        <img src="/img/delete.png" alt="Supprimer">
                    </a>#}
                </div>
            </article>
        {% else %}
            <p>Aucun trick publié !</p>
        {% endfor %}
    </section>
    <a id="arrow_up" class="arrow" href="#header"><img src="/img/arrow_up.png" alt="monter"></a>
{% endblock %}
