{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="homepage">
        <h1>SnowTricks</h1>
        <p>Réussis tes figures en un clic !</p>
        <a id="arrow_down" class="arrow" href="#tricks"><img src="/img/arrow_down.png" alt="descendre"></a>
    </header>
    <section id="tricks" class="flexbox">
        {% for trick in tricks %}
            <article>
                {% set picture = trick.pictures.first() %}
                <div>
                    <img src="{{ asset("img-tricks/" ~ picture.name) }}" alt="image d'une figure" class="img_trick">
                </div>
                <div>
                    {% if app.user %}
                        <p class="title-trick-connected"><a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="link">{{ trick.name }}</a></p>
                        <a href="{{ path('app_trick_update', {slug: trick.slug}) }}">
                            <img src="/img/modify.png" alt="Modifier" class="icon">
                        </a>
                        <form action="{{ path('app_trick_delete', {id: trick.id}) }}" method="post" class="buttonlink">
                            <input type="hidden" value="{{ csrf_token('trick_delete_' ~ trick.id) }}" name="csrf_token">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" onclick="return confirm('Voulez-vous vraiment effacer ce trick ?')">
                                <img src="/img/delete.png" alt="Supprimer" class="icon">
                            </button>
                        </form>
                    {% else %}
                        <p class="title-trick-not-connected"><a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="link">{{ trick.name }}</a></p>
                    {% endif %}
                </div>
            </article>
        {% else %}
            <p>Aucun trick publié !</p>
        {% endfor %}
    </section>
    <div class="paddingb-100">
        <button id="followingtricks" class="button-blue">Plus de tricks !</button>
        <a id="arrow_up" class="arrow" href="#tricks"><img src="/img/arrow_up.png" alt="monter"></a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/jquery/load_more.js"></script>
{% endblock %}