{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <img src="/img/gradient_blue.png" class="width100 absolute z-index-2">
    <div class="main-content">
        <header class="trick-page" style='background-image: url("/img/background_home.jpg{##}");;'>
            <div class="float-right back-white border-black inline p10">
                <a href="{{ path('app_trick_update', {slug: trick.slug}) }}"><img src="/img/modify.png" alt="Modifier"></a>
                <a href="{{ path('app_trick_delete', {id: trick.id}) }}" onclick="return confirm('Voulez-vous vraiment effacer ce trick ?')"><img src="/img/delete.png" alt="Supprimer"></a>
            </div>
            <h1 class="relative top200">{{ trick.name }}</h1>
        </header>
        <section class="margin-y30">
            <div class="flexbox-tight">
                {% for picture in trick.pictures %}
                    <img src="{{ asset("img-tricks/" ~ picture.name) }}" alt="image de la figure">
                {% endfor %}
                {# trick.tagsVideo #}

                {# pour tester #}

                
                <img src="/img/background_home.jpg" alt="image de la figure">
                <img src="/img/background_home.jpg" alt="image de la figure">
                <embed src="https://www.youtube.com/watch?v=tzsqAjJnMdA">
                <embed src="https://www.dailymotion.com/video/xc5btm">

            </div>
        </section>
        <section class="margin-y30">
            <div class="width70">
                <p>{{ trick.description }}</p>
            </div>
            <div class="flexbox width50">
                <div class="info">
                    <p>la date de publication</p>
                </div>
                <div class="info">
                    <p>{{ trick.relatedGroup.name }}</p>
                </div>
                <div class="info">
                    <p>la date de modification</p>
                </div>
            </div>
        </section>
        <hr>
        <section class="margin-y30">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Envoyer">
            {{ form_end(form) }}
            <hr>
            <div class="width50">
                {% for message in trick.message %}
                {% else %}
                    <p>Aucun message posté pour l'instant.</p>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}