{% extends 'base.html.twig' %}

{% block title %}Modifier {{ trick.name }}{% endblock %}

{% block body %}
<img src="/img/gradient_blue.png" class="width100 absolute z-index-2">
    <div class="paddingb-200">
        <div class="main-content">
            {{ form_start(form, {'attr': {'class': 'width100'}}) }}
                {% if trick.pictures.first() %}
                    {% set pictureHeader = trick.pictures.first() %}
                    <header class="trick-page" style='background-image: url("{{ asset("img-tricks/" ~ pictureHeader.name) }}");'>
                {% else %}
                    <header class="trick-page" style='background-image: url("{{ asset("img-tricks/default.jpg") }}");'>
                {% endif %}
                    <h1 class="relative top200">Modifier "{{ trick.name }}"</h1>
                </header>
            
                <section class="margin-y30">
                    <div class="flexbox-tight" id="counter">
                        {% for i, picture in trick.pictures %}
                            <div id="{{ i }}" class="to-count">
                                <img src="{{ asset("img-tricks/" ~ picture.name) }}" alt="image de la figure">
                                <div class="float-right back-white border-black inline p10">
                                    <img src="/img/modify.png" alt="Modifier" class="icon" id="modify">
                                    <img src="/img/delete.png" alt="Supprimer" class="icon" id="delete">
                                </div>
                            </div>
                            <div id="{{ i }}_modify" class="to-count">
                                {# for picturefield in form_row(form.pictures) %}
                                    {{ picturefield }}
                                    <input type="submit" value="Changer l'image" class="button-blue">
                                {% endfor #}
                            </div>
                            <div id="{{ i }}_delete" class="to-count">
                                Cette image sera supprimée.
                                <button type="submit" class="button-red" onclick="return confirm('Voulez-vous vraiment effacer cette image ?')">
                                    Supprimer
                                </button>
                            </div>
                        {% endfor %}
                        {{ trick.tagsVideo | raw }}
                    </div>
                </section>
                <section class="margin-y30">
                    <div class="flexbox width50">
                        <div class="info">
                            <p>Créé le {{ trick.createdAt|date('d/m/Y, à H:i:s') }}</p>
                        </div>
                        <div class="info">
                            <p>{{ trick.relatedGroup.name }}</p>
                        </div>
                        {% if trick.modifiedAt %}
                            <div class="info">
                                <p>Modifié le {{ trick.modifiedAt|date('d/m/Y, à H:i:s') }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="width70">
                        {{ form_row(form.description, { 'attr': {'class': 'height400'}}) }}
                        {{ form_row(form.relatedGroup) }}
                    </div>
                    
                </section>
                <input type="submit" value="Modifier !" class="button-blue marginb-50">
                {{ form(form.name, {'attr': {'class': 'display-none'}}) }}
                {{ form(form.pictures, {'attr': {'class': 'display-none'}}) }}
                {{ form(form.tagsVideo, {'attr': {'class': 'display-none'}}) }}
            {{ form_end(form) }}
            <form action="{{ path('app_trick_delete', {id: trick.id}) }}" method="post">
                <input type="hidden" value="{{ csrf_token('trick_delete_' ~ trick.id) }}" name="csrf_token">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="button-red" onclick="return confirm('Voulez-vous vraiment effacer ce trick ?')">
                    Supprimer
                </button>
            </form>
        </div>    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/jquery/update_trick_page.js"></script>
{% endblock %}